/*CSS RESET*/

*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px solid pink;*/

}

img {
  max-width: 100%;
  height:auto;
}

/*This is the body section*/

body {
  background-color: #FBFFE8;
;
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  color: #243119;
  font-family: 'Muli', sans-serif;
  text-align: center;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4{
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  color: darkslategrey;
  text-align: justify;
  font-family: 'Playfair Display', sans-serif;
}

a {
  text-decoration: none;
  color: #629460;
  font-family: 'Muli', sans-serif;
}

a:hover {
  color: #420C14;
}

i{
  color: #243119;
}


header, footer {
  min-height: 10vh;
  background-color: #FBFFE8;

}

.hiddentext a{
  opacity: 0;
  transition: 1s;
  font-size: 2px;
  background-color: rgba(201, 242, 199, 0.5);
  width: 0;
  font-family: 'Muli';
}

.hiddentext:hover a {
  opacity: 1;
  font-size: 3rem;
  color: #243119;
  background-color: rgba(201, 242, 199, 0.5);
  width: 100%;
  font-family: 'Muli';
}

.flexcenter {
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.background, .homebackground {
  background-color: rgba(201, 242, 199, 0.5);

}

.background h2 {
  font-size: 3rem;
  color: #243119;
}

.formbutton button {
  background-color: #243119;
  font-family: 'Muli', sans-serif;
  color: #FBFFE8;
  text-align: center;
  align-items: center;
  padding: 5%;
}

.listing-item {
  min-height: 30vh;
}

a.listing-item {
  margin: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    background-color: rgba(201, 242, 199, 1);
    color: #243119;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*This is the header section*/

header {
  position: fixed;
  background-color: #FBFFE8;
  width: 100%;
  top: 0;
}
.logo {
  margin-bottom: -5px;
  padding:0;
  margin-left: 5%;
}

.logo img {
  padding-left: 5%;
}

.nav {
  text-align: right;
  justify-content: flex-end;
  padding-right: 5%;

}

#logo {
  height: 70px;
}

.nav a {
  padding: 2% 2%;
  font-size: 1.5rem;
}

.nav a:hover {
  text-decoration: underline;
}

.menu, .responsive-nav {
  font-size: 2rem;
  font-family: 'Muli', sans-serif;
}

.headerfix {
  margin-top: 75px;
}
/*This is the homepage*/

.sitenav div {
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.sitenav {
  margin: 5% 0%;
}

.grid-noGutter-equalHeight.sitenav {
  margin: 1% 0%;
}



.hometitle {
  /*background-image: url('/images/344H 2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  background-color: inherit;
  padding: 10% 0%;
}


.homenews {
  background-image: url('/images/homenews.png');
}

.homereviews {
  background-image: url('/images/homereviews.png');
}

.homeevents {
  background-image: url('/images/homeevents.png');
}

.homepeople {
  background-image: url('/images/homepeople.png');
}

.homenearby {
  background-image: url('/images/homenearby.png');
}

.homecontact {
  background-image: url('/images/homecontact.png');
}

.insta-title {
  margin: 5% 0%;
}

.insta-title i{
  font-size: 1.6rem;
  padding-right: 1%;
}

/*This is the Nearby page */

.nearbytitle {
  background-image: url('/images/nearby.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10% 0%;
}

.nearbytext {
  padding: 5% 20%;
}

.nearbylinks {
  padding: 0 5%;
}

.nearbylinks div {
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nearbylinks a {
  font-size: 1.6rem;
  text-align: center;
}

.nearbylinks p {
  font-size: 1.3rem;
  text-align: center;
}

.nearbybackground {
  background-color: rgba(201, 242, 199, 0.8);
  min-height: 40vh;
  width: 50%;
}

/*This is the contact page*/

.contacttitle {
  background-image: url('/images/contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10% 0%;
}

.barrier {
  margin-top: 10%;
}


.formcontent {
  margin-top: 10%;
  margin-bottom: 10%
}

.formcontent div {
  margin-bottom: 5%;
}

.formlabel {
  margin: 5% 0;
}

.formtextinput {
  height: 50px;
  width: 100%;
}

.message {
  height: 100px;
  width: 100%;
}

div.contactform {
  padding: 0 5%;
  text-align: left;
}

label {
  text-align: right;
}


/*This is the styling for all items*/

.itemheading h2 {
  padding: 5% 0;
}



.itemsidebar div {
  margin: 15px
}


.itemimage {
  height: 40vh;
}

.itemcontent p {
  margin-right: 10%;
}

.itemcontent p{
  padding-left: 5%;
}

.itemwebsite a:hover {
  text-decoration: underline;
}


/*This is the news listing section*/


.newstitle {
  background-image: url('/images/newstitle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10% 0%;
}

/*This is the reviews section*/

.listing-item div {
  background-color: #C9F2C7;
}
.reviewstitle {
  background-image: url('/images/reviews.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10% 0%;
}

.reviewsnippet {
  padding: 2%;
}

.reviewtitle h3 {
  margin: 5% 0;

}
.reviewsnippet p {
  text-align: center;
}




/*#growContainer{
	width:100%;
	height:100%;
}
.grow{
	height:50%;
	width: 100%;
	-webkit-transition:height 500ms;
	-moz-transition:height 500ms;
	transition:height 500ms;
}
#growContainer:hover .grow{
	height:40%;
}
#growContainer:hover .grow:hover {
	height:60%;
}*/

/*This is the underconstruction page*/

.underconstruction {
  background-image: url('/images/underconstruction.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10% 0;
  height: 70vh;
}

.underconstruction h3 {
  padding: 5%;
}
/*This is a footer section*/

footer {
padding-top: 2%;
}

.mc-field-group {
  padding: 2% 2%
}

#mc_embed_signup {
  font-size: .75rem;
  padding: 2% 2%
}
#mc_embed_signup h4 {
  font-size: 1rem;
  text-align: right;
}

#mc_embed_signup .indicates-required {
  text-align: right;
}

#mc_embed_signup_scroll {
  padding-top: 2%;
}

.submitbutton {
  text-align: right;
}



.clear {
  padding-top: 2%;
}


footer .fa {
  font-size: 4rem;
}

/*Responsive styling*/

.mobile-image-height {
  min-height: 40vh;
}

.menu{
  z-index:1000000;
  font-weight:bold;
  font-size: 1em;
  width:100%;
  background:#C9F2C7;
  position:fixed
  text-align:center;

}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#dddddd 1px solid;
}
.menu li:hover{
  display: block;
  background:#ffffff;
  padding:15px 0 15px 0;
  border-bottom:#dddddd 1px solid;
}
.menu ul li a {
  text-decoration:none;
  margin: 0px; color:#666;
}
.menu ul li a:hover {
  color: #666; text-decoration:none;
}
.menu a{
  text-decoration:none; color:#666;
}
/*.menu a:hover{
  text-decoration:none; color:#666;*/
}
.cross{
  color:#666;
}


@media (max-width:720px) {
  .itemmap {
    display:none;
  }

  .itemcontent {
    margin: 0;
  }

  .hiddentext a {
    opacity: 1;
    font-size: 3rem;
    color: #243119;
    background-color: rgba(201, 242, 199, 0.5);
    width: 100%;
    font-family: 'Muli';
  }

}
