---
layout: default
---
<!-- HEADER FROM DEFAULT -->
<div class="itemheading">
  <h2> {{page.title}}</h2>
</div>


<div class="grid-spaceBetween">

<!-- SIDEBAR -->
  <section class="col-4 itemsidebar">
    <div class="itemimage" style="background-image: url('{{ page.image }}'); background-position: center; background-size: cover; background-repeat: none;">
    </div>
    <div class="itemfield itemaddress">
      <h6>Address: </h6>{{ page.address }}
    </div>
    <div class="itemfield itemmap">
      {{ page.map }}
    </div>
    <div class="itemfield itemdetails">
      <h6>When it's on: </h6>{{ page.timeanddate }}
    </div>
    <div class="itemfield itemhours">
      <h6>Opening Hours: </h6>{{ page.opening_hours }}
    </div>
    <div class="itemfield itemwebsite">
      <h6>Website: </h6><a href="{{ page.website }}">{{ page.website }}</a>
    </div>
    <div class="itemfield itemstars">
      <h6>My star rating</h6>{{ page.stars }}
    </div>
    <div class="itemfield itemstars">
      <h6>My star rating</h6>{{ page.stars }}
    </div>
  </section>



<!-- MAIN CONTENT -->

  <div class="col-6 itemcontent">
    <p> {{content}} </p>
  </div>

</div>




<!-- POST INFORMATION -->

  <!-- <div class="col-4 category">
    {{page.category}}
  </div>

  <div class="col-4 tag">
    {{page.tag}}
  </div>

</div> -->
<!-- SOCIAL SHARE -->



<!-- FOOTER FROM DEFAULT -->
