---
layout: default
---
<!-- HEADER FROM DEFAULT -->
<div class="itemheading">
  <h2> {{page.title}}</h2>
</div>


<div class="grid-spaceBetween">

<!-- SIDEBAR -->
  <section class="col-4_sm-6_xs-12 itemsidebar">
    <div class="itemimage" style="background-image: url('{{ page.image }}'); background-position: center; background-size: cover; background-repeat: none;">
    </div>
    <div class="itemfield itemaddress">
      <h6>Address: </h6>{{ page.address }}
    </div>
    <div class="itemfield itemmap">
      <iframe src="{{ page.map }}"></iframe>
    </div>
    <div class="itemfield itemwebsite">
      <a href="{{ page.website }}" target="_blank"><h6>Website</h6></a>
    </div>


    {% if page.type == "event" %}
    <div class="itemfield itemhours">
      <h6>When it's on: </h6>{{ page.day }} {{ page.month }}
    </div>

      {% if page.booking_required == true %}
        <div class="itemfield booking tooltip">
            <span class="tooltiptext">Booking required</span><i class="fa fa-pencil-square" aria-hidden="true"></i></i>
        </div>
      {% endif %}

      {% if page.paid_entry == true %}
        <div class="itemfield dollar tooltip">
            <span class="tooltiptext">Paid event</span><i class="fa fa-usd" aria-hidden="true"></i>
        </div>
      {% endif %}

    {% endif %}





    {% if page.type == "review" %}
    <div class="itemfield itemhours">
      <h6>Opening hours: </h6>{{ page.opening_hours }}
    </div>
    <div class="itemfield itemstars">
      <h6>My star rating</h6>
        {% for star in page.stars %}
          <i class="fa fa-star" aria-hidden="true"></i>
        {% endfor %}
    </div>
      {% if page.breakfast == true %}
        <div class="itemfield breakfast tooltip">
          <span class="tooltiptext">Good for breakfast/lunch</span><i class="fa fa-coffee" aria-hidden="true"></i>
        </div>
      {% endif %}

      {% if page.dinner == true %}
        <div class="itemfield dinner tooltip">
            <span class="tooltiptext">Good for dinner</span><i class="fa fa-cutlery" aria-hidden="true"></i>
        </div>
      {% endif %}

      {% if page.wifi == true %}
        <div class="itemfield wifi tooltip">
            <span class="tooltiptext">Has wifi</span><i class="fa fa-wifi" aria-hidden="true"></i>
        </div>
      {% endif %}

    {% endif %}

  </section>



<!-- MAIN CONTENT -->

  <div class="col-8_sm-6_xs-12 itemcontent">
    <p> {{content}} </p>
  </div>

</div>
