---
layout: default
title:
image:
description:
date:
category:
tag:
---
<!-- HEADER FROM DEFAULT -->

<h2> {{page.title}}</h2>

<div class="grid">
<!-- SIDEBAR -->
  <div class="col-4 grid">
  </div>

<!-- MAIN CONTENT -->

  <div class="col-8">
    <p>{{page.description}}</p>

  </div>

<div class="grid-right">

<!-- POST INFORMATION -->
  <div class="col-4 date">
    {{page.date}}
  </div>

  <div class="col-4 category">
    {{page.category}}
  </div>

  <div class="col-4 tag">
    {{page.tag}}
  </div>

</div>
<!-- SOCIAL SHARE -->
  <div class="addthis_inline_share_toolbox"></div>


  </div>



</div>

<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-590fe239b85a9cef"></script>

<!-- FOOTER FROM DEFAULT -->
