---
layout: default
---

<div class="itemheading">
  <h2> {{page.title}}</h2>
</div>

<div class="grid">

  <div class="col-4_sm-6_xs-12 itemsidebar">
    {% for image in page.images %}
      <!-- HOW MANY DEPENDS ON LENGTH OF TEXT -->
    <div class="itemimage" style="background-image: url('{{ image }}'); background-position: center; background-size: cover; background-repeat: none;">
    </div>

    {% endfor %}

  </div>

  <div class="col-8_sm-6_xs-12 itemcontent">
    <p>
      {{content}}
    </p>
  </div>

</div>
